//inner pages
//text1
.reasons
	background-color: #fff
	+box-shadow(inset 0 68px 15px -11px rgba(248, 248, 249, 0.35))
	&.another
		min-height: 1200px

.reasons__in
	@extend %in
	position: relative
	+clr
	.reasons__ttl
		width: 732px
		padding: 32px 0 32px 0
		+box
	.reasons__p
		display: inline-block
		margin-right: 25px
		color: #212121
		+ttl
	.reasons__why
		display: inline-block
		width: 40%
		color: #838383
		line-height: 1
		+fs(12)
		+mpi
	.back
		margin-top: 20px

.sidebar
	position: absolute
	width: 228px
	top: 43px
	right: 0
	z-index: 5
	.sidebar__nav
		+box-shadow(0 3px 5px rgba(0,0,0,.15))
		+border-radius(5px)
		li
			&:first-child
				a
					+border-radius(5px 5px 0 0)
			&:last-child
				a
					+border-radius(0 0 5px 5px)
		a
			display: block
			padding: 10px 20px
			text-transform: uppercase
			color: #222
			background-color: #f3f6f7
			border: 1px solid #ccd2d6
			+g(#f5f7f9, #e2e6e8)
			+fs(13)
			+mpr
			.fa.fa-long-arrow-left
				color: #8bc5e8
				padding-right: 15px
				display: none
			&:hover
				color: #FFF
				border: 1px solid #2790c0
				background-color: #085db4
				+text-shadow(-1px -1px 0 rgba(0,0,0,.41))
				+box-shadow(0 3px 5px rgba(0,0,0,.15))
				+g(#23b7eb, #085db4)
				.fa.fa-long-arrow-left
					display: inline-block
	.sidebar__spec
		position: relative
		height: 96px
		margin-top: 20px
		padding: 10px 0 15px 20px
		border: 1px solid #2790c0
		background-color: #085db4
		+box
		+border-radius(5px)
		+g(#23b7eb, #085db4)
		&:after
			content: ""
			position: absolute
			bottom: -12px
			left: 12px
			+arr(18, 15, #085db4, tl)
		.spec__txt
			width: 50%
			padding-top: 5px
			color: #CEE5F5
			line-height: 1
			+fs(12)
			+mpi
		.spec__ask
			position: relative
			width: 50%
			padding-top: 10px
			text-transform: uppercase
			color: #FFF
			line-height: 1
			+fs(16)
			+mpsb
			&:before
				content: "\f178"
				position: absolute
				display: block
				top: 18px
				right: -5px
				+fa
	.choose__service
		max-height: 500px
		margin-top: 25px
		border: 1px solid #e5e5e5
		+box-shadow(0 2px 8px rgba(0,0,0,.08))
		.slider__top
			height: 60px
			line-height: 60px
		.slider__txt
			padding-left: 20px
			color: #CECECE
			text-transform: uppercase
			+fs(10)
			+mpr
		.slider__controls
			padding: 4px 20px 0 0
		.slider__bottom
			.products__item
				width: 100%
				height: 440px
				box-shadow: none
				border-radius: 0
				border-top: 1px solid #e5e5e5
				border-left: 0
				border-bottom: 0
				&:after
					display: none
				&:hover
					height: 440px
					padding: 22px 18px
					margin-top: 0
					background: #fff
					border-right: 0
				.products__img
					height: 125px
					img
						&.website
							margin-top: 25px
	.webneed
		position: relative
		margin-top: 20px
		padding: 32px 23px 25px 20px
		background-color: #f7f5ef
		+border-radius(5px)
		+box
		&:before
			content: ""
			position: absolute
			top: -5px
			left: 17px
			+s(ask)
		.webneed__ttl
			margin-bottom: 23px
			line-height: 1
			+fs(20)
			+mpr
		.webneed__txt
			color: #939393
			line-height: 20px
			+fs(12)
			+mpi

.points
	position: relative
	width: 732px
	padding: 27px 0 65px 0
	&:before
		content: ""
		position: absolute
		top: -17px
		left: 0
		+s(points)
	&.another
		&:before
			display: none
		&.another
			.points__item
				border-bottom: 0
				padding: 0
			.points__txt
				padding-left: 0
				margin-bottom: 20px
	.points__item
		padding: 15px 0 25px 0
		border-bottom: 1px solid #e5e5e5
		+clr
		&:last-child
			border-bottom: 0
	.points__ttl
		margin-bottom: 3px
		color: #000
		+fs(20)
		+mpr
	.points__count
		display: inline-block
		width: 30px
		height: 30px
		margin: 0 20px 0 2px
		padding-top: 5px
		text-align: center
		border: 2px solid #ffa200
		vertical-align: super
		+fs(12)
		+mpsb
		+border-radius(15px)
		+box
	.points__txt
		color: #939393
		padding-left: 53.5px
		line-height: 20px
		+fs(13)
		+mpr
		a
			color: #1992d5
			&:hover
				text-decoration: underline


//text2
.dedicated__char
	+clr
	.dedicated__brace
		+s(brace)
	.char__txt
		width: 47%
		margin-top: 28px
		padding-right: 20px
		p
			position: relative
			padding-left: 34px
			color: #AFAFAF
			+fs(13)
			+mpi
			&:before
				content: ""
				position: absolute
				left: 0
				+s(checked_big)
			&:first-child
				margin-bottom: 35px

.carousel
	margin: 50px 0
	.points__item
		margin-bottom: 20px
	.carousel__controls
		margin: 8px 12px 0 0
	.cycle-slideshow
		max-height: 92px

.advanced__char
	text-align: justify
	+clr
	&:after
		content: ""
		width: 100%
		display: inline-block
	.advanced__brace
		+s(brace)
	.advanced__txt
		display: inline-block
		width: 31%
		margin-top: 30px
		text-align: left
		vertical-align: top
		p
			position: relative
			padding-left: 34px
			color: #AFAFAF
			+fs(13)
			+mpi
			&:before
				content: ""
				position: absolute
				left: 0
				+s(star)

//hosting
.unlim
	background-color: #fff
	+box-shadow(inset 0 68px 15px -11px rgba(248, 248, 249, 0.35))

.unlim__in
	@extend %in
	.unlim__host
		padding-top: 40px
		+clr
		.permonth
			position: relative
			min-width: 62px
			height: 30px
			margin: 5px 0 0 45px
			padding-top: 1px
			text-align: center
			color: #fff
			background-color: #99d519
			+border-radius(3px)
			+g(#97cf00, #7fb300)
			+box
			+mpr
			&:after
				content: ""
				position: absolute
				bottom: -9px
				left: 12px
				+arr(13, 10, #7fb300, tl)
		.permonth__num
			display: inline-block
			+fs(22)
		.permonth__txt
			display: inline-block
			width: 30%
			margin-left: 5px
			text-align: left
			line-height: 1
			+fs(9)
	.unlim__ttl
		color: #222
		line-height: 1
		+ttl
	.unlim__view
		margin-top: 5px
		font-size: 0
		.unlim__view-txt
			display: inline-block
			width: 40px
			color: #6B8093
			margin: 3px 15px 0 0
			line-height: 1
			+fs(11)
			+mpi
	.butn
		vertical-align: top
	.unlim__free
		margin-top: 35px
		+clr
	.unlim__about
		width: 310px
		margin-left: 50px
		p
			color: #939393
			line-height: 20px
			+fs(13)
			+mpr
			&:first-child
				margin-bottom: 22px
				color: #000
				line-height: 1
				+fs(20)
			a
				display: block
				color: #1992D5
				&:hover
					text-decoration: underline
		.viewmore
			width: 144px
			margin-top: 15px
	.unlim__moebius
		position: relative
		p
			position: absolute
			text-align: left
			color: #CCC
			right: -5px
			bottom: 15px
			line-height: 1
			+fs(16)
			+fes
			&:before
				content: ""
				position: absolute
				top: -22px
				left: -18px
				+s(side)
		span
			display: block
	.unlim__features
		position: relative
		margin-left: 27px
		p
			line-height: 1
			color: #000
			+fs(20)
			+mpr
		&:before
			content: ""
			position: absolute
			top: 33px
			left: 15px
			+arr(16, 10, #f0f5f7, t)
	.features__table
		height: 144px
		margin-top: 23px
		padding-right: 20px
		table
			width: 285px
		tr
			&:nth-child(odd)
				background-color: #f0f5f7
			&:nth-child(even)
				background-color: #f7fafb
			&:first-child
				td
					+border-radius(3px 0 0 0)
				.second
					+border-radius(0 3px 0 0)
			&:last-child
				td
					+border-radius(0 0 0 3px)
				.second
					+border-radius(0 0 3px 0)
		td
			padding: 5px 15px 5px
			text-align: left
			border-bottom: 1px solid #fff
			&.second
				width: 20%
				padding: 5px 10px 5px 0
				text-align: right
				color: #888B8C
				.orange
					color: #FFA200
					+fs(11)
					+mpi
			span
				color: #a4a5a6
				+fs(13)
				+mpr
			.checked
				display: inline-block
				text-align: right
				+s(checked_big)
	.unlim__type
		margin-top: 50px
		padding: 40px 120px 45px
		border-top: 1px solid #E8E8E8
		&.noborder
			border: 0
			padding: 0 120px 45px
	.info
		display: inline-block
		width: 128px
		color: #B6B6B6
		line-height: 1
		vertical-align: middle
		+fs(12)
		+mpi
	.info__i
		display: inline-block
		margin-right: 15px
		vertical-align: top
		+s(info)
	.fa.fa-long-arrow-right
		padding: 0 30px
		color: #7caf00
		vertical-align: middle
		+fs(15)
	.unlim__span
		display: inline-block
		width: 10%
		margin-right: 12px
		text-align: left
		line-height: 1
		vertical-align: middle
		+fs(12)
		+mpr
		&.backing
			width: 7%
			margin-right: 23px
	.marked
		display: inline-block
		padding-right: 15px
		vertical-align: bottom
		+s(marked)

.choice
	background-color: #fff
	border-top: 1px solid #E8E8E8
	+box-shadow(inset 0 68px 15px -11px rgba(248, 248, 249, 0.35))

.choice__in
	@extend %in
	position: relative
	+clr
	&:before
		content: ""
		position: absolute
		top: -17px
		left: 50%
		margin-left: -16.5px
		+s(points)
	.choice__ttl
		width: 50%
		margin: 0 auto 50px
		padding-top: 44px
		color: #BBB
		line-height: 37px
		+ttl
	.choice__bl
		width: 50%
		margin-bottom: 25px
	.choice__item
		position: relative
		min-height: 130px
		padding: 20px 0 24px 24px
		+box
		+clr
		&:before
			content: ""
			position: absolute
			width: 41px
			height: 1px
			top: 0
			left: 94px
			background: #E5E5E5
		&:first-child
			&:before
				display: none
		&:hover
			padding: 19px 0 23px 23px
			border: 1px solid #e5e5e5
			+border-radius(5px)
			+box-shadow(0 3px 8px rgba(0,0,0,.08))
			&:before
				display: none
			.choice__subttl
				border-bottom: 1px dashed #000
			.choice__txt
				margin-top: 9px
	.choice__desc
		width: 80%
		margin-left: 27px
		a
			color: #1992D5
			&:hover
				text-decoration: underline
	.choice__subttl
		display: inline-block
		color: #000
		line-height: 1
		+fs(20)
		+mpr
	.choice__txt
		margin-top: 10px
		color: #939393
		+fs(13)
		+mpr
	.ch
		display: block
		max-width: 42px
	.choice1
		+s(choice1)
	.choice2
		+s(choice2)
	.choice3
		+s(choice3)
	.choice4
		+s(choice4)
	.choice5
		+s(choice5)
	.choice6
		+s(choice6)
	.choice7
		+s(choice7)
	.choice8
		+s(choice8)

.mainf
	background-color: #fff
	border-top: 1px solid #E8E8E8
	+box-shadow(inset 0 68px 15px -11px rgba(248, 248, 249, 0.35))
	.reliable__in
		@extend %in
		position: relative
		&:before
			content: ""
			position: absolute
			top: -17px
			left: 50%
			margin-left: -16.5px
			+s(points)
		.mainf__ttl
			padding: 49px 0 15px 0
			color: #000
			+ttl
		.reliable__features
			margin: 0 0 84px 0
		.features__pic
			margin-bottom: 25px
			img
				margin: 0 auto
		.features__ttl
			margin-bottom: 22px

.overview
	position: relative
	background-color: #E7EDF0
	&:before
		content: ""
		position: absolute
		display: block
		width: 100%
		height: 17px
		top: -10px
		background: url(../img/overview_bg.png) repeat-x

.overview__in
	@extend %in
	position: relative
	padding-bottom: 36px
	+clr
	&:before
		content: ""
		position: absolute
		top: -17px
		left: 50%
		margin-left: -11.5px
		+s(down)
	.overview__ttl
		padding: 30px 0
		color: #BBBFC2
		+ttl
	.overview__item
		width: 246px
		padding-left: 24px
		+box
		p
			color: #939393
			line-height: 20px
			+fs(13)
			+mpr
			&:first-child
				margin-bottom: 18px
				color: #000
				line-height: 1
				+fs(18)
		a
			color: #1992d5
			&:hover
				text-decoration: underline


//domains1
.domain
	.domain__ttl
		padding: 40px 0
		color: #222222
		+ttl
	.domain__search
		height: 56px
		padding: 10px
		background-color: #e0e6e9
		border: 1px solid #ccd2d6
		+border-radius(5px)
		+g(#fff, #e0e6e9)
		+box
		+clr
		.domain__span
			display: block
			width: 50px
			margin: 4px 30px 0 0
			text-transform: uppercase
			color: #000
			line-height: 14px
			+fs(14)
			+mpr
			+text-shadow(1px 1px 0 rgba(255,255,255,.52))
		.products__search
			width: 718px
			&:before
				top: 7px
				+s(zoom3)
			&:after
				width: 35px
				height: 33px
				top: 0
		.search__input
			height: 35px
			padding: 0 109px 0 34px
			background: url(../img/search3.png) repeat-x
			background-color: #fff
			+fs(15)
		.custom__select
			width: 15%
			height: 35px
			top: 0
			&:after
				top: 15px
				right: 15px
			select
				height: 35px
			span
				padding: 2px 0 0 5px
				line-height: 1.6
				+fs(13)
		.viewmore
			width: 154px
	.domain__tabs
		position: relative
		.viewmore
			position: absolute
			width: 154px
			left: 50%
			bottom: -17.5px
			margin-left: -77px





